@model MVCProject.Models.Item

@{
    var message = "Hello, world!";
    var items = new List<string> { "Item1", "Item2", "Item3" };
    bool isLoggedIn = true;
}
<p>@message</p>
<ul>
    @foreach (var item in items)
    {
        <li>@item</li>
    }
</ul>
@if (isLoggedIn)
{
    <p> @message </p>
}
else
{
    <p> Please log in </p>
}