@model MVCProject.Models.Item

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      <p>This is the name of the item @Model.Name  </p>
</div>
</body>
</html>